<!DOCTYPE html>
<html lang="kr">

<head>
    <title>QuFa</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />

    <!-- <link rel="stylesheet" href="vendor/fa-free-5.15.1/css/all.min.css"> -->
    <!-- <script src="vendor/jquery/jquery-3.5.1.min.js"></script> -->
    <!-- <link rel="stylesheet" href="vendor/bootstrap-4.5.3/css/bootstrap.min.css"> -->
    <!-- <script src="vendor/bootstrap-4.5.3/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/9.3.0/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/9.3.0/themes/dark-unica.src.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"> </script>
  
    {% load static %}
    <script src="{% static 'd3-7.0.1/d3.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sunburst-1.15.2/sunburst.css' %}" />
    <script src="{% static 'sunburst-1.15.2/sunburst-chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ajax-cross-origin.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/qufa.css' %}">
</head>

<body>
<!-- Top Anchor   -->
<a class="anchor_item" id="top"></a>
<div style='height:100px;'></div>

<div class="clearfix" id="page">
    <!-- column -->
    <div class="position_content" id="page_position_content">
        <!-- header -->
        <div class="clearfix">
            <!-- group -->
            <!-- Header Bar -->
            <div class="browser_width header-bar">
                <!-- Navigation Menu -->
                <div class="nav-menu">
                    <!-- Page Name -->
                    <div class="page_top"><a id='idAStep0' href="index#top"><h3>QuFa</h3></a>
                </div>
                <!-- In=page Anchor Links -->
                <div class= "nav-links">
                    <div class="nav-link"><a id='idAStep1' href="index#loaddataset">Loading</a></div>
                    <div class="nav-link"><a id='idAStep2' href="index#overview">Overview</a></div>
                    <div class="nav-link"><a id='idAStep3' href="index#sunburst">Sunburst</a></div>
                    <div class="nav-link"><a id='idAStep4' href="index#predicting">Predicting</a></div>
                    <div class="nav-link"><a id='idAStep5' href="index#result">Result</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div><h1 class="font-weight-bold text-center text-primary">기계학습 구분 기반의 공정성 검증</h1></div>
    
<div class="title"><h1><i class="fas fa-dice-one"></i> 공정성 검증 모델</h1></div>

    <div class="clearfix">
        <div>
            <h2><span style='padding-left:30px;'></span><i class="fas fa-angle-right"></i> 모델 선택</h2>
        </div>
        <div class="container" style='width:100%;'>
            <div class='row' style='height:50px;'>
                <div class='col-4'></div>
                <div class='col-4'>
                    <h4 class="font-weight-bold text-center text-primary">공정성 지표 선택</h4>
                </div>
                <div class='col-4'></div>
            </div>
            <div class='row'>
                <div class='col-2'>
                    <h5 class="font-weight-bold text-left text-secondary">분류</h5>
                </div>
                <div class='col'>
                    <div id='idDivMLTask'></div>
                </div>
            </div>
            <div class='row'>
                <div class='col-2'>
                    <h5 class="font-weight-bold text-left text-secondary">지표</h5>
                </div>
                <div class='col'>
                    <div id='idDivParity'></div>
                </div>
            </div>
            <div class='row' style='padding-top:15px;'>
                <div class='col-2'></div>
                <div class='col'>
                    <div class='clsbinary clsbinaryequaloppo'>
                        <p>◎ 균등 기회 (Equality of opportunity)</br>
                        &nbsp;&nbsp;&nbsp;: 보호 그룹과 보호되지 않은 그룹은 동일한 참 긍정(true positive)의 비율을 가져야 함</p>
                        <p>
                            \[P_0\space\left[C=1\middle|Y=1\right]=P_1\left[C=1\middle|Y=1\right]\]
                        </p>
                    </div>
                    <div class='clsbinary clsbinaryequalodds'>
                        <p>◎ 균등 승률 (Equalized Odds)</br>
                        &nbsp;&nbsp;&nbsp;: 보호된 그룹과 보호되지 않은 그룹은 참 긍정(true positive)과 오탐지(false negative)에 대해 동일한 비율을 가져야함</p>
                        <p>
                            \[P_0\space\left[C=r\middle|Y=y\right]=P_1\left[C=r\middle|Y=y\right]\space\forall\space r,y\]
                        </p>
                    </div>
                    <div class='clsbinary clsbinarydmgparity'>
                        <p>◎ 인구통계패리티 (Demographic Parity)</br>
                        &nbsp;&nbsp;&nbsp;: 긍정적인 결과의 가능성은 개인이 보호된(예 : 여성) 그룹에 있는지 여부 에 관계없이 동일해야 함</p>
                        <p>
                            \[P_0\space\left[C=c\right]=P_1\left[C=c\right]\space\forall\space c\in\{0,1\}\]
                        </p>
                    </div>
                    <div class='clsregres clsregresdmgparity'>
                        <p>◎ 인구통계패리티 (Demographic Parity)</br>
                        &nbsp;&nbsp;&nbsp;: 긍정적인 결과의 가능성은 개인이 보호된(예 : 여성) 그룹에 있는지 여부 에 관계없이 동일해야 함</p>
                        <p>
                            \[P_0\space\left[C=c\right]=P_1\left[C=c\right]\space\forall\space c\in\{0,1\}\]
                        </p>
                    </div>
                    <div class='clsregres clsregresbndgrplos'>
                        <p>◎ 제한된 그룹 손실</p></br>
                        &nbsp;&nbsp;&nbsp;Under Construction</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="separator" id="loaddataset"><!-- separating line --></div>

<div class="title"><h1><i class="fas fa-dice-two"></i> Overview</h1></div>

    <div class="clearfix">
        <div>
            <h2><span style='padding-left:30px;'></span><i class="fas fa-angle-right"></i> Load Dataset</h2>
        </div>
        <div class="container" style='width:100%;'>
            <div class='row' style='height:50px;'>
                <div class='col-4'></div>
                <div class='col-4'>
                    <h4 class="font-weight-bold text-center text-primary">Load Dataset</h4>
                </div>
                <div class='col-4'></div>
            </div>
            <div class='row'>
                <div class='col-10'>
                    <span class='btn btn-sm btn-success fileinput-button loading'>
                    <span id='idSpanXls0'><i class='fa fa-table'></i> Select Dataset File</span>
                    <input type='file' id="fileupload" accept="text/csv,.csv" />
                    </span>&nbsp;
                    <input type='text' id="idFileName" style='width:100%;' readonly />
                </div>
                <div class='col-2 text-right'>
                    <button id='idBtnUpload' class='btn btn-success loading' style='width:100%;height:100%;'><i class="fas fa-upload"></i> Upload</button>
                </div>
            </div>

            <div class='row' style='height:90px;padding-top:40px;'>
                <div class='col-4'></div>
                <div class='col-4'>
                    <h4 class="font-weight-bold text-center text-primary">Dataset List</h4>
                </div>
                <div class='col-4'></div>
            </div>
            <div class='row'>
                <div class='col'>
                    <ul id='idUlRcvFiles' class='loading'></ul>
                    <p><i class="fas fa-angle-right"></i> Train File List: </p>
                        <select id='idSelFileList' size='5' style='width:100%;height:100px;'>
                        </select>
                </div>
            </div>
            <div class='row' style='height:90px;padding-top:40px;'>
                <div class='col-6'>
                    <input type='checkbox' id='idChkRunTsneUmap' class='loading' checked /><label for='idChkRunTsneUmap'>&nbsp;Run t-SNE & UMAP</label>
                </div>
                <div class='col-6 text-right'>
                    <input type='checkbox' id='idChkManualRun' class='loading' checked /><label for='idChkManualRun'>&nbsp;Manual Mode</label>
                </div>
            </div>
            <div class='row'>
                <div class='col text-center'>
                    <button id='idBtnLoading' class='btn btn-primary loading' style='width:100%;height:100%;'><i class="fas fa-upload"></i> Load Dataset</button>
                </div>
            </div>

            <div style='display:none;'>
                <div class='row' style='height:90px;padding-top:40px;'>
                    <div class='col-4'></div>
                    <div class='col-4'>
                        <h4 class="font-weight-bold text-center text-primary">Data Sample</h4>
                    </div>
                    <div class='col-4'></div>
                </div>
                <div class='row'>
                    <div class='col'style='height:300px;'>
                        <div class='border-all' style='height:280px;overflow-y:auto;'>
                            <table id='idTblRawData0' class='table' style='width:100%' cellspacing="0">
                                <thead> </thead>
                                <tbody> </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col'style='height:300px;'>
                        <div class='border-all' style='height:280px;overflow-y:auto;'>
                            <table id='idTblRawData1' class='table' style='width:100%' cellspacing="0">
                                <thead> </thead>
                                <tbody> </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="separator" id="overview"><!-- separating line --></div>
        
    <div class="clearfix">
        <div class="subhead">
            <h2><span style='padding-left:30px;'></span><i class="fas fa-angle-right"></i> Overview</h2>
        </div>
        <div class="desc-copy">
        </div>
    </div>
    <div class="container" style='width:100%;'>
        <div class='row'>
            <div class='col'>
                <h4 class="font-weight-bold text-center text-primary">Dataset Overview</h4>
            </div>
        </div>
        <div class='row' style='height:25px;'>
            <div class='col-6 text-center' style='background-color:#AAC8FF'>BEFORE</div>
            <div class='col-6 text-center' style='background-color:#FFAAC8'>AFTER</div>
        </div>
        <div class='row' style='height:25px;'><div class='col'></div></div>
        <div class='row'>
            <div class='col-6'>
                <div id='idDivOverview0'></div>
            </div>
            <div class='col-6'>
                <div id='idDivOverview1'></div>
            </div>
        </div>
        <div style='display:none;'>
            <div class='row'>
                <div class='col'>
                    <h5 class="font-weight-bold text-left text-secondary">Overview Diagram</h5>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <div id='idDivTable' class='table-responsive'>
                        <table id='idTblHighChart0' class='table' style='width:100%' cellspacing="0">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                        <table id='idTblHighChart1' class='table' style='width:100%' cellspacing="0">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col text-center'>
                * Overview 항목 내 각각의 Chart 'Click' 시 확대 표시 *
            </div>
        </div>
    </div>

<div class="separator" id="sunburst"><!-- separating line --></div>
    
<div class="title"><h1><i class="fas fa-dice-three"></i> Sunburst</h1></div>
        
    <div class="clearfix">
        <div class="subhead">
            <h2><span style='padding-left:30px;'></span><i class="fas fa-angle-right"></i> Parameter</h2>
        </div>
        <div class="desc-copy">
        </div>
    </div>
    <div class="container" style='width:100%;'>
        <div id='idDivParamMLT0' class='row'>
            <div class='col'>
                <div class='row'>
                    <div class='col-1'><i class="fas fa-angle-double-right"></i></div>
                    <div class='col-2' style='text-align:right;'>Classfication Column:</div>
                    <div class='col-3'>
                        <select  id='idSelCol4Classify' class='running' style='width:100%;height:28px;'></select>
                    </div>
                    <div class='col-2'></div>
                    <div class='col-3'>
                        <ul id='idUlClassifyVals' class='running' hidden></ul>
                    </div>
                    <div class='col-1'></div>
                </div>
                <div class='row'>
                    <div class='col-1'><i class="fas fa-angle-double-right"></i></div>
                    <div class='col-2' style='text-align:right;'>Classfication Labels:</div>
                    <div class='col-3'>
                        <input type='text' id='idTxtClassifyLblA' class='running' style='width:100%;height:28px;' />
                    </div>
                    <div class='col-2' style='text-align:center;'>
                        <span style='padding-left:15px;'></span> /
                    </div>
                    <div class='col-3'>
                        <input type='text' id='idTxtClassifyLblB' class='running' style='width:100%;height:28px;' />
                    </div>
                    <div class='col-1'></div>
                </div>
                <div class='row'>
                    <div class='col-1'><i class="fas fa-angle-double-right"></i></div>
                    <div class='col-2' style='text-align:right;'>Sub Group Column:</div>
                    <div class='col-3'>
                        <select  id='idSelCol4SubGroup' class='running' style='width:100%;height:28px;'></select>
                    </div>
                    <div class='col-2'></div>
                    <div class='col-3'>
                        <ul id='idUlSubGroupVals' class='running' hidden></ul>
                    </div>
                    <div class='col-1'></div>
                </div>
            </div>
        </div>
        <div class='row' style='height:90px;padding-top:40px;'>
            <div class='col text-center'>
                <button id='idBtnRunSnB' class='btn btn-primary running' style='width:200px;height:50px;'><i class="fab fa-deezer"></i> Run</button>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="subhead">
            <h2><span style='padding-left:30px;'></span><i class="fas fa-angle-right"></i> Result</h2>
        </div>
        <div class="desc-copy">
        </div>
    </div>
    <div class="container" style='width:100%;'>
        <div class='row'>
            <div class='col'>
                <h4 class="font-weight-bold text-center text-primary">Chart</h4>
            </div>
        </div>
        <div class='row' style='height:25px;'>
            <div class='col-6 text-center' style='background-color:#AAC8FF'>BEFORE</div>
            <div class='col-6 text-center' style='background-color:#FFAAC8'>AFTER</div>
        </div>
        <div class='row' style='height:25px;'><div class='col'></div></div>
        <div class='row' style='height:400px;'>
            <div class='col-6'>
                <div id='idDivSbChartA' class='text-center' style='width:100%;height:100%;'></div>
            </div>
            <div class='col-6'>
                <div id='idDivSbChartB' class='text-center' style='width:100%;height:100%;'></div>
            </div>
        </div>
        <div class='row' style='height:90px;padding-top:40px;'>
            <div class='col-6 text-center'>
                <button id='idBtnZoomA' class='btn btn-warning' style='width:50px;height:50px;'><i class="fa fa-search-plus"></i></button>
            </div>
            <div class='col-6 text-center'>
                <button id='idBtnZoomB' class='btn btn-warning' style='width:50px;height:50px;'><i class="fa fa-search-plus"></i></button>
            </div>
        </div>
    </div>

<div class="separator" id="predicting"><!-- separating line --></div>
    
<div class="title"><h1><i class="fas fa-dice-four"></i> Predicting</h1></div>

    <div class="clearfix">
        <div class="subhead">
            <h2><span style='padding-left:30px;'></span><i class="fas fa-angle-right"></i> Predicting</h2>
        </div>
        <div class="desc-copy">
        </div>
    </div>
    <div class="container" style='width:100%;'>
        <h5 class="font-weight-bold text-left text-secondary">
        <div class='row' style='height:50px;'>
            <div class='col'>
                <h4 class="font-weight-bold text-center text-primary">Parameter</h4>
            </div>
        </div>
        <div id='idDivParamMLT1' class='row'>
            <div class='col'>
                <div class='row'>
                    <div class='col-1'><i class="fas fa-angle-double-right"></i></div>
                    <div class='col-2' style='text-align:right;'>M/L Model:</div>
                    <div class='col-3'>
                        <select  id='idSelMLModel' class='running' style='width:100%;height:28px;'></select>
                    </div>
                    <div class='col-6'></div>
                </div>

                <div id='idDivParamGi' class='row'>
                    <div class='col'>
                        <div class='row' style='height:90px;padding-top:40px;'>
                            <div class='col-4'></div>
                            <div class='col-4'>
                                <h4 class="font-weight-bold text-center text-primary">Tensorflow Parameters</h4>
                            </div>
                            <div class='col-4'></div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div class='row'>
                                    <div class='col-1'><i class="fas fa-angle-double-right"></i></div>
                                    <div class='col-2' style='text-align:right;'>Hidden Layer Unit 01:</div>
                                    <div class='col-3'>
                                        <input type='number' id='idTxtParam00' class='running' style='width:60px;height:28px;' value='128' />
                                    </div>
                                    <div class='col-2' style='text-align:right;'>Hidden Layer Unit 02</div>
                                    <div class='col-3'>
                                        <input type='number' id='idTxtParam01' class='running' style='width:60px;height:28px;' value='64' />
                                    </div>
                                    <div class='col-1'></div>
                                </div>
                                <div class='row'>
                                    <div class='col-1'><i class="fas fa-angle-double-right"></i></div>
                                    <div class='col-2' style='text-align:right;'>Learning Rate:</div>
                                    <div class='col-3'>
                                        <input type='number' id='idTxtParam02' class='running' style='width:60px;height:28px;' value='0.1' />
                                    </div>
                                    <div class='col-6'></div>
                                </div>
                                <div class='row'>
                                    <div class='col-1'><i class="fas fa-angle-double-right"></i></div>
                                    <div class='col-2' style='text-align:right;'>L1 Regularization STR:</div>
                                    <div class='col-3'>
                                        <input type='number' id='idTxtParam03' class='running' style='width:60px;height:28px;' value='0.001' />
                                    </div>
                                    <div class='col-2' style='text-align:right;'>
                                        <span style='padding-left:15px;'></span>L2 Regularization STR:
                                    </div>
                                    <div class='col-3'>
                                        <input type='number' id='idTxtParam04' class='running' style='width:60px;height:28px;' value='0.001' />
                                    </div>
                                    <div class='col-1'></div>
                                </div>
                                <div class='row'>
                                    <div class='col-1'><i class="fas fa-angle-double-right"></i></div>
                                    <div class='col-2' style='text-align:right;'>Epochs:</div>
                                    <div class='col-3'>
                                        <input type='number' id='idTxtParam05' class='running' style='width:60px;height:28px;' value='10' />
                                    </div>
                                    <div class='col-2' style='text-align:right;'>
                                        <span style='padding-left:15px;'></span> Batch Size:
                                    </div>
                                    <div class='col-3'>
                                        <input type='number' id='idTxtParam06' class='running' style='width:60px;height:28px;' value='500' />
                                    </div>
                                    <div class='col-1'></div>
                                </div>
                                <div class='row'>
                                    <div class='col-1'><i class="fas fa-angle-double-right"></i></div>
                                    <div class='col-2' style='text-align:right;'>Hash Bucket Size:</div>
                                    <div class='col-3'>
                                        <input type='number' id='idTxtHashBkSize' value='1000' class='running' style='width:60px;height:28px;' />
                                    </div>
                                    <div class='col-6'></div>
                                </div>
                            </div>
                        </div>
                        <div class='row' style='height:90px;padding-top:40px;'>
                            <div class='col-4'></div>
                            <div class='col-4'>
                                <h4 class="font-weight-bold text-center text-primary">Categorical Feature</h4>
                            </div>
                            <div class='col-4'></div>
                        </div>
                        <div class='row'>
                            <div id='idDivItem1' class='col'></div>
                        </div>
                        <div class='row' style='height:90px;padding-top:40px;'>
                            <div class='col-4'></div>
                            <div class='col-4'>
                                <h4 class="font-weight-bold text-center text-primary">Numeric Feature</h4>
                            </div>
                            <div class='col-4'></div>
                        </div>
                        <div class='row'>
                            <div id='idDivItem2' class='col'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row' style='height:90px;padding-top:40px;'>
            <div class='col text-center'>
                <button id='idBtnRunTPR' class='btn btn-primary running' style='width:200px;height:50px;'><i class="fab fa-deezer"></i> Run</button>
            </div>
        </div>
        </h5>
    </div>
    
    <div class="clearfix">
        <div class="subhead">
            <h2><span style='padding-left:30px;'></span><i class="fas fa-angle-right"></i> Result</h2>
        </div>
        <div class="desc-copy">
        </div>
    </div>
    <div class="container" style='width:100%;'>
        <div class='row' style='height:50px;'>
            <div class='col-4'></div>
            <div class='col-4'>
                <h4 class="font-weight-bold text-center text-primary">Result</h4>
            </div>
            <div class='col-4'></div>
        </div>
        <div class='row' style='height:25px;'>
            <div class='col-6 text-center' style='background-color:#AAC8FF'>BEFORE</div>
            <div class='col-6 text-center' style='background-color:#FFAAC8'>AFTER</div>
        </div>
        <div class='row' style='height:25px;'><div class='col'></div></div>
        <div class='row'>
            <div class='col-6'>
                <div id='idDivConfMatA0' class='text-center' style='width:100%;'></div>
            </div>
            <div class='col-6'>
                <div id='idDivConfMatB0' class='text-center' style='width:100%;'></div>
            </div>
        </div>
        <div class='row' style='height:50px;'>
            <div class='col-4'></div>
            <div class='col-4'>
                <h4 class="font-weight-bold text-center text-primary">Graph</h4>
            </div>
            <div class='col-4'></div>
        </div>
        <div class='row'>
            <div class='col-6'>
                <div id='idDivGraphA0' class='text-center' style='width:100%;height:400px;'></div>
            </div>
            <div class='col-6'>
                <div id='idDivGraphB0' class='text-center' style='width:100%;height:400px;'></div>
            </div>
        </div>
        <div class='row' style='height:50px;'>
            <div class='col-4'></div>
            <div class='col-4'>
                <h4 class="font-weight-bold text-center text-primary">Result</h4>
            </div>
            <div class='col-4'></div>
        </div>
        <div class='row' style='height:25px;'>
            <div class='col-6 text-center' style='background-color:#AAC8FF'>BEFORE</div>
            <div class='col-6 text-center' style='background-color:#FFAAC8'>AFTER</div>
        </div>
        <div class='row' style='height:25px;'><div class='col'></div></div>
        <div class='row'>
            <div class='col-6'>
                <div id='idDivConfMatA1' class='text-center' style='width:100%;'></div>
            </div>
            <div class='col-6'>
                <div id='idDivConfMatB1' class='text-center' style='width:100%;'></div>
            </div>
        </div>
        <div class='row' style='height:50px;'>
            <div class='col-4'></div>
            <div class='col-4'>
                <h4 class="font-weight-bold text-center text-primary">Graph</h4>
            </div>
            <div class='col-4'></div>
        </div>
        <div class='row'>
            <div class='col-6'>
                <div id='idDivGraphA1' class='text-center' style='width:100%;height:400px;'></div>
            </div>
            <div class='col-6'>
                <div id='idDivGraphB1' class='text-center' style='width:100%;height:400px;'></div>
            </div>
        </div>
        <div class='row' style='height:50px;display:none;'>
            <div class='col-4'></div>
            <div class='col-4'>
                <h4 class="font-weight-bold text-center text-primary">Graph</h4>
            </div>
            <div class='col-4'></div>
        </div>
        <div class='row' style='height:25px;'><div class='col'></div></div>
        <div class='row'>
            <div class='col-6'>
                <div id='idDivGraphA2' class='text-center' style='width:100%;height:800px;'></div>
            </div>
            <div class='col-6'>
                <div id='idDivGraphB2' class='text-center' style='width:100%;height:800px;'></div>
            </div>
        </div>
    </div>

    <div class="separator" id="result"><!-- separating line --></div>
    
    <div class="title"><h1><i class="fas fa-dice-five"></i> Result</h1></div>

    <div class="clearfix">
        <div class="subhead">
            <h2><span style='padding-left:30px;'></span><i class="fas fa-angle-right"></i> Performance</h2>
        </div>
        <div class="desc-copy">
        </div>
    </div>
    <div class="container" style='width:100%;'>
        <div class='row' style='height:25px;'>
            <div class='col-4'></div>
            <div class='col-4'>
                <h4 class="font-weight-bold text-center text-primary">Chart</h4>
            </div>
            <div class='col-4'></div>
        </div>
        <div class='row' style='height:25px;'>
            <div class='col-6 text-center' style='background-color:#AAC8FF'>BEFORE</div>
            <div class='col-6 text-center' style='background-color:#FFAAC8'>AFTER</div>
        </div>
        <div class='row' style='height:25px;'><div class='col'></div></div>
        <div class='row'>
            <div class='col-6'>
                <canvas id='idCanvas0' style='width:100%;height:320px;'></canvas>
            </div>
            <div class='col-6'>
                <canvas id='idCanvas1' style='width:100%;height:320px;'></canvas>
            </div>
        </div>
        <div class='row' style='height:50px;'>
            <div class='col-4'></div>
            <div class='col-4'>
                <h4 class="font-weight-bold text-center text-primary">Correction Rate</h4>
            </div>
            <div class='col-4'></div>
        </div>
        <div class='row'>
            <div class='col'>
                <div id='idDivPerform' class='text-center' style='width:100%;height:80px;'></div>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <div>
                    <p>◎ Formula</p>
                    <p>
\[\text{보정률}=\bigg(\space\frac{|\space\text{보정 전 공정성 지표 값}\space|
-|\space\text{보정 후 공정성 지표 값}\space|}{|\space\text{보정 전 공정성 지표 값}\space|}\space\bigg)\times100\]
                    </p>
                </div>
                <div class='clsbinary clsbinaryequaloppo'>
                    <p>◎ 균등 기회 (Equality of opportunity)</p>
                    <p>
\[\text{rate}=\bigg(\space\frac{|\space^\text{pre }\mathtt{TPR}_\text{ subgroupA}
-^\text{pre }\mathtt{TPR}_\text{ subgroupB}\space|-|\space^\text{post }\mathtt{TPR}_\text{ subgroupA}
-^\text{post }\mathtt{TPR}_\text{ subgroupB}\space|}{|\space^\text{pre }\mathtt{TPR}_\text{ subgroupA}
-^\text{pre }\mathtt{TPR}_\text{ subgroupB}\space|}\space\bigg)\times100\]
                    </p>
                </div>
                <div class='clsbinary clsbinaryequalodds'>
                    <p>◎ 균등 승률 (Equalized Odds)</p>
                    <p>
\[\text{rate}=\Bigg(\space\frac{\Big(\space\frac{|\space^\text{pre }\mathtt{TPR}_\text{ subgroupA}
-^\text{pre }\mathtt{TPR}_\text{ subgroupB}\space|-|\space^\text{post }\mathtt{TPR}_\text{ subgroupA}
-^\text{post }\mathtt{TPR}_\text{ subgroupB}\space|}{|\space^\text{pre }\mathtt{TPR}_\text{ subgroupA}
-^\text{pre }\mathtt{TPR}_\text{ subgroupB}\space|}\space\Big)
+\Big(\space\frac{|\space^\text{pre }\mathtt{FPR}_\text{ subgroupA}
-^\text{pre }\mathtt{FPR}_\text{ subgroupB}\space|-|\space^\text{post }\mathtt{FPR}_\text{ subgroupA}
-^\text{post }\mathtt{FPR}_\text{ subgroupB}\space|}{|\space^\text{pre }\mathtt{FPR}_\text{ subgroupA}
-^\text{pre }\mathtt{FPR}_\text{ subgroupB}\space|}\space\Big)}{2}\space\Bigg)\times100\]
                    </p>
                </div>
                <div class='clsbinary clsbinarydmgparity'>
                    <p>◎ 인구통계패리티 (Demographic Parity)</p>
                    <p>
\[^\text{pre }\mathtt{NpP}_\text{ subgroupA}=\frac{\big(\space^\text{pre }\mathtt{TN}_\text{ subgroupA}
+^\text{pre }\mathtt{FN}_\text{ subgroupA}\space\big)}{\big(\space^\text{pre }\mathtt{TP}_\text{ subgroupA}
+^\text{pre }\mathtt{FP}_\text{ subgroupA}\space\big)}\]
                    </p><p>
\[^\text{pre }\mathtt{NpP}_\text{ subgroupB}=\frac{\big(\space^\text{pre }\mathtt{TN}_\text{ subgroupB}
+^\text{pre }\mathtt{FN}_\text{ subgroupB}\space\big)}{\big(\space^\text{pre }\mathtt{TP}_\text{ subgroupB}
+^\text{pre }\mathtt{FP}_\text{ subgroupB}\space\big)}\]
                    </p><p>
\[^\text{post }\mathtt{NpP}_\text{ subgroupA}=\frac{\big(\space^\text{post }\mathtt{TN}_\text{ subgroupA}
+^\text{post }\mathtt{FN}_\text{ subgroupA}\space\big)}{\big(\space^\text{post }\mathtt{TP}_\text{ subgroupA}
+^\text{post }\mathtt{FP}_\text{ subgroupA}\space\big)}\]
                    </p><p>
\[^\text{post }\mathtt{NpP}_\text{ subgroupB}=\frac{\big(\space^\text{post }\mathtt{TN}_\text{ subgroupB}
+^\text{post }\mathtt{FN}_\text{ subgroupB}\space\big)}{\big(\space^\text{post }\mathtt{TP}_\text{ subgroupB}
+^\text{post }\mathtt{FP}_\text{ subgroupB}\space\big)}\]
                    </p><p>
\[\text{rate}=\bigg(\space\frac{|\space^\text{pre }\mathtt{NpP}_\text{ subgroupA}
-^\text{pre }\mathtt{NpP}_\text{ subgroupB}\space|-|\space^\text{post }\mathtt{NpP}_\text{ subgroupA}
-^\text{post }\mathtt{NpP}_\text{ subgroupB}\space|}{|\space^\text{pre }\mathtt{NpP}_\text{ subgroupA}
-^\text{pre }\mathtt{NpP}_\text{ subgroupB}\space|}\space\bigg)\times100\]
                    </p>
                </div>
                <div class='clsregres clsregresdmgparity'>
                    <p>◎ 인구통계패리티 (Demographic Parity)</p>
                    <p>
\[^\text{pre }\mathtt{NpP}_\text{ subgroupA}=\frac{\big(\space^\text{pre }\mathtt{TN}_\text{ subgroupA}
+^\text{pre }\mathtt{FN}_\text{ subgroupA}\space\big)}{\big(\space^\text{pre }\mathtt{TP}_\text{ subgroupA}
+^\text{pre }\mathtt{FP}_\text{ subgroupA}\space\big)}\]
                    </p><p>
\[^\text{pre }\mathtt{NpP}_\text{ subgroupB}=\frac{\big(\space^\text{pre }\mathtt{TN}_\text{ subgroupB}
+^\text{pre }\mathtt{FN}_\text{ subgroupB}\space\big)}{\big(\space^\text{pre }\mathtt{TP}_\text{ subgroupB}
+^\text{pre }\mathtt{FP}_\text{ subgroupB}\space\big)}\]
                    </p><p>
\[^\text{post }\mathtt{NpP}_\text{ subgroupA}=\frac{\big(\space^\text{post }\mathtt{TN}_\text{ subgroupA}
+^\text{post }\mathtt{FN}_\text{ subgroupA}\space\big)}{\big(\space^\text{post }\mathtt{TP}_\text{ subgroupA}
+^\text{post }\mathtt{FP}_\text{ subgroupA}\space\big)}\]
                    </p><p>
\[^\text{post }\mathtt{NpP}_\text{ subgroupB}=\frac{\big(\space^\text{post }\mathtt{TN}_\text{ subgroupB}
+^\text{post }\mathtt{FN}_\text{ subgroupB}\space\big)}{\big(\space^\text{post }\mathtt{TP}_\text{ subgroupB}
+^\text{post }\mathtt{FP}_\text{ subgroupB}\space\big)}\]
                    </p><p>
\[\text{rate}=\bigg(\space\frac{|\space^\text{pre }\mathtt{NpP}_\text{ subgroupA}
-^\text{pre }\mathtt{NpP}_\text{ subgroupB}\space|-|\space^\text{post }\mathtt{NpP}_\text{ subgroupA}
-^\text{post }\mathtt{NpP}_\text{ subgroupB}\space|}{|\space^\text{pre }\mathtt{NpP}_\text{ subgroupA}
-^\text{pre }\mathtt{NpP}_\text{ subgroupB}\space|}\space\bigg)\times100\]
                    </p>
                </div>
                <div class='clsregres clsregresbndgrplos'>
                    <p>◎ 제한된 그룹 손실</p></br>
                    &nbsp;&nbsp;&nbsp;Under Construction</p>
                </div>
                <div>
                    <p>
$$ \begin{aligned} \\ \text{pre : 원본 데이터에서의} \hspace{3.3cm} \\ \text{post : 보정 데이터에서의} \hspace{3.3cm} \\
\text{subgroupA : 카테고리 컬럼의 서브그룹 A에 대한} \\ \text{subgroupB : 카테고리 컬럼의 서브그룹 B에 대한} \\ \end{aligned} $$
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class='row' style='height:90px;padding-top:40px;'>
        <div class='col'></div>
    </div>

    <div id="idDlgHighChart" title="Overview">
        <div id='idDivHighChart' class='text-center' style='width:100%;height:100%;'></div>
    </div>
    <div id="idDlgOverview" title="Overview">
        <div id='idDivCanvas' class='text-center' style='width:100%;height:100%;'>
            <canvas id='idCanvas' class='text-center' style='width:100%;height:100%;'></canvas>
        </div>
    </div>
    <div id="idDlgSunburst" title="Sunburst">
        <div id='idDivSbChart' class='text-center' style='width:100%;height:100%;'></div>
    </div>

    {% load static %}
    <script src="{% static 'js/qufa.js' %}"></script>
    <script>
        const csrfTtoken = '{{ csrf_token }}';
        const strWrkPath = "{% static 'js/worker.js' %}";
    </script>
</body>

</html>